<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/HospedajeCSS/estiloHospedaje.css}">
    <title>Hotel</title>
</head>
<body>
    <div class="navBar">
        <a href="#">
            <img class="empresaLogo" th:src="@{/Imagenes/logoHotel.jpg}">
        </a>
        <nav class="menu">
            <ul>
                <li><a th:href="@{/}">Inicio</a></li>
                <li><a th:href="@{/vistas/Reserva/}">Reservas</a></li>
                <li class="dropdown">
                    <a href="" class="dropbtn">Administracion</a>
                    <div class="dropdown-content">
                        <a th:href="@{/vistas/Empleados/}">Empleados</a>
                        <a th:href="@{/vistas/Cliente/}">Huespedes</a>
                        <a th:href="@{/vistas/Articulos/}">Articulos</a>
                        <a th:href="@{/vistas/Habitaciones/}">Habitaciones</a>
                    </div>
                </li>
                <li><a th:href="@{/vistas/Salida/}">Salida</a></li>
                <li><a th:href="@{/vistas/Hospedaje/}">Hospedaje</a></li>
            </ul>
        </nav>
    </div>

    <div class="imagenEmpresa">
		<img class="logoEmpresa" th:src="@{/Imagenes/logoHotel.jpg}">
	</div>

    <div class="table-container">
		<table>
			<thead>
		  	<tr>
                <th scope="col">Id</th>
                <th scope="col">Hospedaje</th>
                <th scope="col">Fecha</th>
                <th scope="col">Acciones</th>
		  	</tr>
			</thead>
			<tbody>
		  		<tr th:each="salida : ${Salida}">
					<td th:text="${salida.id_salida}"></td>
                    <td th:text="${salida.hospedaje.id_hospedaje}"></td>
                    <td th:text="${salida.fechaSalida}"></td>
                    <td>
                        <a th:href="@{/vistas/Salida/edit/} + ${salida.id_salida}"><button type="submit" class="btnEditarForm" >Editar</button></a>
                        <a th:href="@{/vistas/Salida/delete/} + ${salida.id_salida}"><button type="submit" class="btnEliminarForm" >Eliminar</button></a>
                    </td>
		  		</tr>
			</tbody>
	  	</table>
	</div>
    <a th:href="@{/vistas/Salida/create}"><button type="submit" class="btnRegistrarForm" >+ Agregar</button></a>
</body>
</html>