<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/estiloIndex.css}">
    <title>Inicio</title>
</head>

<body>
	<div class="navBar">
        <a href="#">
            <img class="empresaLogo" th:src="@{/Imagenes/logoHotel.jpg}">
        </a>
        <nav class="menu">
            <ul>
                <li><a th:href="@{/}">Inicio</a></li>
                <li><a th:href="@{/vistas/Reserva/}">Reservas</a></li>
                <li class="dropdown">
                    <a href="" class="dropbtn">Administración</a>
                    <div class="dropdown-content">
                        <a th:href="@{/vistas/Empleados/}">Empleados</a>
                        <a th:href="@{/vistas/Cliente/}">Huespedes</a>
                        <a th:href="@{/vistas/Articulos/}">Articulos</a>
                        <a th:href="@{/vistas/Habitaciones/}">Habitaciones</a>
                    </div>
                </li>
                <li><a th:href="@{/vistas/Servicios/}">Servicios</a></li>
                <li><a th:href="@{/vistas/Hospedaje/}">Hospedaje</a></li>
            </ul>
        </nav>
    </div>

    <section>
        <div class="intro-header">
            <div class="empresa-header">
                <img th:src="@{/Imagenes/headerLogo.jpg}">
                <h3 class="intro-title">¡Bienvenidos!</h3>
                <div class="intro-cont">
                    <p>Estamos encantados de recibirles en nuestro oasis frente al mar, donde la belleza natural y el
                        confort se unen para ofrecerles una experiencia inolvidable. Desde el momento en que cruzan
                        nuestras puertas, nuestro dedicado equipo estará a su disposición para asegurarse de que su
                        estancia sea perfecta en todos los sentidos.</p>
                </div>
            </div>
        </div>
        <div class="info-cont">
            <div class="info-contenido">
                <h4 class="info-title">Nuestro Hotel</h4>
                <div class="nuestro-cont">
                    <p>Nuestro hotel ofrece una variedad de servicios de primera clase, incluyendo habitaciones con
                        vistas panorámicas, deliciosas opciones gastronómicas en nuestro restaurante gourmet, y una
                        amplia gama de actividades recreativas para todas las edades. Disfruten de un refrescante baño
                        en nuestra piscina infinita, relájense con un masaje en nuestro spa, o exploren las maravillas
                        naturales de los alrededores con nuestras excursiones guiadas. Cada rincón de Mar Azul está
                        diseñado para proporcionarles el máximo confort y tranquilidad. Nos esforzamos por crear un
                        ambiente acogedor y hospitalario, donde cada detalle está pensado para su bienestar. Gracias por
                        elegir el Hotel Mar Azul para su estancia. Estamos seguros de que vivirán momentos inolvidables
                        y esperamos que su tiempo con nosotros sea tan maravilloso como el océano que nos rodea.
                        ¡Disfruten de su estancia!</p>
                </div>
            </div>
        </div>
    </section>
</body>

</html>